body {
    font-family: 'Arial', sans-serif;
    background: rgb(34,193,195);
    background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(112,29,194,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(112,29,194,1) 100%);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(112,29,194,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#701dc2",GradientType=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo img {
    width: 50%; /* Adjust based on your logo's dimensions */
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
  display: inline-flex;     /* Makes the button's content layout in a row */
  align-items: center;     /* Aligns the items vertically to the center */
  background-color: blue;  /* The background color of the button */
  border: none;            /* Remove any default border */
  border-radius: 50px;     /* Makes the button edges circular */
  color: white;            /* Text color */
  padding: 10px 20px;      /* Adjust padding as needed */
}

.button-logo {
  width: 20px;             /* Set your desired logo width */
  height: 20px;            /* Set your desired logo height */
  margin-right: 10px;      /* Adds some space between the logo and text */
  border: none;            /* Remove any default border */
}
